/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

body {
  background-image: url("../img/space.jpg");
  background-size: cover;
  overflow: hidden;
}

h1 {
  width: 125px;
  height: 100px;
  line-height: 40px;
  margin-top: 18px;
  margin-left: 20px;
  padding: 15px;
  border-radius: 10%;
  border: 2px white solid;
  color: white;
  box-shadow: 20%;
 }

#pixelPainter {
  container for all elements
  margin: 25px auto;
  width: 75%;
  height: 700px;
  box-sizing: border-box;
}

.cell {
float: left;
}

.canvasCells {
float: right;
border: solid #000;
border-width: .1px;
box-sizing: border-box;
}

.container {
float: left;
border: solid #000;
border-style: solid;
border-width: 5px;
border-color: black;
}

#randomBlock {
border-style: solid;
border-width: 4px;
border-color: black;
float: right;
}

#insideCanvas {
border-style: solid;
border-width: 4px;
border-color: black;
box-sizing: border-box;
float: right;
}

.eraseBtn {
/* margin-bottom: 20%;
clear: left;
 */}

.clearBtn {
clear: right;
/* margin-top: 20%;
 */margin-left: 5%
}

button {
display: inline;
border-radius: 50%;
width: 125px;
height: 125px;
font-size: 25px;
font-style: oblique;
border: none;
/* margin: 5px auto;
 padding: 5px;
 color: black;

  */ }

button:hover {
  background-color: green;

 }

 button:active {
   background-color: red;
 }


